extends layout

block content
  div.infoarea

    table.table
        thead
            tr
                th(cope="col") Address
                th(cope="col") Type
                th(cope="col") Name
                th(cope="col") Value
                th(cope="col") Data type
                th(cope="col") Refresh rate
                th(cope="col") Last updated
        tbody
            each info, coilAddress in variableInfo
                if info.lastValue !== undefined
                    tr
                        th(scope="row")= coilAddress
                        td= info.type
                        td= info.name
                        td= info.lastScaledValue
                        td= info.datatype
                        td= info.refresh
                        td= ((Date.now() - info.lastUpdate)/1000) + " seconds ago"

    if lastWriteRequest !== undefined
        div.lastWriteRequest
            p
                | Last write request: writing value 
                span.value= lastWriteRequest.value
                |  to coil address 
                span.coilAddress= lastWriteRequest.coilAddress
                |  status is 
                span= lastWriteRequest.state

    div.write
        form.form-inline(action='/write', method='POST')
            div.form-group.mb-2
            label.sr-only(for='value') Value            
            div.input-group.mb-2.mr-sm-2
                div.input-group-prepend
                    div.input-group-text Write value
                input.form-control.mr-2.mr-sm-2(id='value',size="5",type='text', name='value', value='')
            label.sr-only(for='coilAddress') Coil address
            div.input-group.mb-2.mr-sm-2
                div.input-group-prepend
                    div.input-group-text to coil address
                input.form-control(id='coilAddress',size="5", type='text', name='coilAddress', value='')
            button.btn.btn-primary.mb-2(type='submit') Write
            
